body{
    background-image: url(https://clubaindependiente.com.ar/img/noticias/2021/fondoweb.jpg);
}
h1{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    color: antiquewhite;
    background:linear-gradient(#701111, #d2111173)
}
h2{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    color: antiquewhite;
    background:linear-gradient(#701111, #d2111173)
}
p{
    display: flex;
    justify-content: center;
    color: antiquewhite;
}
.palmares{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    color: antiquewhite;
    background:linear-gradient(#701111, #d2111173)
}
aside{
    display: flex;
    justify-content: center;
    color: antiquewhite;
}

.libertadores{ 
    animation-name: libertadores;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

@keyframes libertadores{
        0% {
           transform: translate(-50%);
        }
        25%{
           transform: translate(50%);
        }
      
        50%{
           transform: translate(-50%);}
       
        75%{
           transform: translate(50%);
        }
        100%{
           transform: translate(-50%);
        }
        }

video{
    float: right;
}
.losdeav{
    animation-name: losdeav;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

@keyframes losdeav{
        0% {
           transform: translate(50%);
        }
        25%{
           transform: translate(-50%);
        }
      
        50%{
           transform: translate(50%);}
       
        75%{
           transform: translate(-50%);
        }
        100%{
           transform: translate(50%);
        }
        }
