body{
    background-image: url(https://library.sportingnews.com/styles/twitter_card_120x120/s3/2023-08/Racing%20fans%20hinchada%20082323%20%281%29.jpg?itok=R0OPsCHW);
}
h1{
    font-family: 'Pacifico', cursive;
    display: flex;
    justify-content: center;
    color: antiquewhite;
    background:linear-gradient(#1c3bba, #1ae6e973)
}
h2{
    font-family: 'Autour One', cursive;
    display: flex;
    justify-content: center;
    color: antiquewhite;
    background:linear-gradient(#1c3bba, #1ae6e973)
}
p{
    display: flex;
    justify-content: center;
    color: antiquewhite;
}
aside{
    display: flex;
    justify-content: center;
    color: antiquewhite;
}